<div>
  <blockquote class="blockquote">
  <p><%= @question %></p>
  <p class="px-4">-You</p>
  </blockquote>
<div>
<div>
  <blockquote class="blockquote">
  <p><%= @answer %></p>
  <p class="px-4">-Your coach</p>
  </blockquote>

<div>
<%= link_to "Ask another question", ask_path %>
